@charset "utf-8";
/* CSS Document */
/* 新增门店 */
body{
	overflow-y: hidden;
}
.add-stores{
	padding: 20px 0;
	border-bottom: 1px solid #b5b5b5;
}
.hiden-data{
	font-style: 20px;
	font-weight: 600;
	height: 200px;
	line-height: 200px;
	color: #8C8C8C;
}
.chosestores-out{
	margin-left: 20px;
	width: 20%;
}
.chosestores-out .chosestores{
	width: 100%;
	padding: 16px 0;
	font-size: 14px;
	text-indent:15px;
}
.add-stores-btn{
	text-align: left!important;
	text-align: -moz-left!important;
	text-align: -webkit-left!important;
	display: block;
	background-color: #1578AE;
	font-size: 16px;
	cursor:pointer;
}
.add-stores-btn a{
	color: #FFFFFF;
	padding: 16px 38px;
}
/* 门店列表样式 */
.stores-list{
	max-height: 460px;
	overflow-y:auto;
	margin-top: 6px;
}
/* 修改滚动条样式 */
.stores-list::-webkit-scrollbar {
	width: 1px;    
	/*height: 4px;*/
}
.stores-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.2);
}
.stores-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	border-radius: 0;
	background: rgba(0,0,0,0.1);
}

.stores-list-li{
	text-align: -moz-left;
	text-align: -webkit-left;
	text-align: left;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	padding: 16px 20px;
	border-bottom: 1px solid #dedede;
}
.stores-img{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	overflow: hidden;
	border: 1px solid #ccc;
}
.stores-img img{
	width: 60px;
	height: 60px;
}
.change-style{
	margin-left: 20px;
	height: 60px;
	line-height: 60px;
}
.stores-clear,.stores-detailed,.make-stores-detailed{
	background: #ff0101;
	font-size: 16px;
	display: block;
	height: 40px;
	line-height: 40px;
	cursor:pointer;
}
.stores-detailed{
	background: #FF9800;
	margin:0 10px;
	padding: 0;
	display: block;
	color: #FFFFFF;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
}
.make-stores-detailed{
	background: #1578AE!important;
	color: #FFFFFF;
	padding: 0 20px;
}
.stores-clear{
	color: #FFFFFF;
	padding: 0 20px;
}
.stores-list-li-left,.stores-list-li-right{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}

.determine{
	margin-left: 20px;
	color: #FFFFFF;
	padding: 16px 38px!important;
}
.xcConfirm .popBox .changeBox{
	margin: auto!important; 
	height: 150px; 
	overflow: hidden;
	width: 200px;
}
.xcConfirm .popBox .txtBox .changeBigIcon{
	margin-top: 50px;
}
.xcConfirm .popBox .txtBox p{
	line-height: 130px;
}
