@charset "utf-8";
/* CSS Document */
body,html{
	height: 100%;
}
header{
	width: 100%;
	background-color: #525252;
	padding: 20px 0;
}
.logo-img{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	overflow: hidden;
}
.logo-img img{
	width: 60px;
	height: 60px;
}
.out-logo{
	width: 94%;
	margin: auto;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}
.out-logo-img{
	color: #fff;
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	width: 300px;
	font-size: 16px;
}
.out-logo-img p{
	height: 60px;
	line-height: 60px;
	margin-left: 20px;
	font-weight: 600;
	font-size: 18px;
}
.header-ul{
	color: #fff;
	font-size: 16px;
}
.header-ul li{
	height: 60px;
	line-height: 60px;
}
/* 内容区框架 */
.left-menu-ul{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	width: 100%;
	height: 100%;
}
/*左边菜单栏*/
.left-menu{
	background-color: #e9e9e9;
	width: 12%;
	height: 100%;
}
.left-menu a{
	display: block;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #cccccc;
	color: #525252;
	font-size: 14px;
}
.left-menu a:hover{
	background-color: #8c8c8c;
	color: #fff;
}
.curCls{
    background-color:#8c8c8c;
    color: #fff!important;
}
/* 右边内容区 公共部分 */

.right-content{
	width: 88%;
	height: 100%;
}
.center-content{
	width: 94%;
	margin:auto;
}
.add-stores{
	padding: 20px 0;
	border-bottom: 1px solid #b5b5b5;
	display: flex;
	justify-content:flex-start;
	flex-direction:row;
	align-items:center;
}
.add-stores-btn{
	text-align: left!important;
	text-align: -moz-left!important;
	text-align: -webkit-left!important;
	display: block;
	padding: 16px 38px;
	background-color: #1578AE;
	font-size: 16px;
	cursor:pointer;
	color: #FFFFFF;
}
.add-stores-btn a{
	color: #FFFFFF;
}